$accent: #3e7079;
$body-bg: #101010;
$body-color: #fcfdfe;
$alt-bg: #202020;
$alt-color: #f2f2f2;

$accent: blue;
$body-bg: #f2f2f2;
$body-color: #202020;
$alt-bg: #fcfcfc;
$alt-color: #202020;

.accent-color {
    color: $accent;
}
.desktop-color {
    color: #e5ee6b;
}

.angular-color {
    color: #dd0031
}

.net-color {
    color: rgb(92, 45, 145);
}

.nodejs-color {
    color: rgb(90, 173, 69);
}